configuration {
    modi: "drun";
    font: "MiSans SC 13";
    show-icons: true;
    terminal: "kitty";
    matching: "fuzzy";
    cycle: false;
    filebrowser {
       directories-first: true;
       sorting-method:    "name";
    }
}

@theme "./mytheme.rasi"
